<div class="login_wrap">
    <div class="login_inner text-center mb-4 pb-3">
        <div class="login_header mb-4">QEvalAI</div>
        <div class="login_title mb-2">Forgot Password</div>
        <div class="login_desc">Enter the email associated with your account and we will send an email with instruction
            to reset your password.</div>
    </div>
    <form [formGroup]="formGroup"  >
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" placeholder="Enter email address" class="form-control" id="email" formControlName="email"
                [ngClass]="{ 'is-invalid' : formGroup.controls.email.errors && formGroup.controls.email.touched }">
            <!-- NOTE Errors -->
            <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('required')">
                {{ 'FIELD_REQUIRED' | translate }}
            </div>
            <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('email')">
                {{ 'FIELD_EMAIL' | translate }}
            </div>
        </div>
        <div class="text-center mb-4 btn_group btn_group_50 justify-content-center">
            <button 
              type="button" 
              class="btn btn-primaryborder w-100" 
              [disabled]="!formGroup.valid" 
              (click)="resendResetLink()" 
              *ngIf="isSubmitted">  <!-- Show this button only if isSubmitted is true -->
              Resend Link
            </button>
            <button 
              type="submit" 
              class="btn btn-primary w-100" 
              [disabled]="!formGroup.valid"
              *ngIf="!isSubmitted" 
              (click)="forgotPassword()">
              Submit
            </button>
          </div>          
        <div class="text-center">
            <p class="mb-0">Back to <a routerLink="/login" class="link_text">Login</a></p>
        </div>
    </form>
</div>
