<div class="login_wrap">
    <div class="login_inner text-center mb-4 pb-3">
        <div class="login_header mb-4">QEvalAI</div>
        <div class="login_title mb-2">Create New Password</div>
        <div class="login_desc">Enter your preferable password and confrm it</div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="resetPassword()">
        <div class="form-group">
            <label for="newPassword" class="form-label">{{ 'PASSWORD' | translate }}</label>
            <div class="password_field">
                <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter your new password" class="form-control" id="newPassword"
                    formControlName="newPassword"            
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()\-_=+{};:,<.>]).{8,}$"
                    [ngClass]="{ 'is-invalid' : formGroup.controls.newPassword.errors && formGroup.controls.newPassword.touched }">
                <button type="button" class="show_password" (click)="togglePasswordVisibility()"><i [ngClass]="showPassword ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i></button>
                <span class="input_hint">Must be at least 8 characters.</span>
                <!-- NOTE Errors -->
                <div class="invalid-feedback"
                    *ngIf="formGroup.controls.newPassword.invalid && formGroup.controls.newPassword.touched">
                    <ng-container *ngIf="formGroup.controls.newPassword.hasError('required')">
                        {{ 'FIELD_REQUIRED' | translate }}
                    </ng-container>
                    <ng-container *ngIf="formGroup.controls.newPassword.hasError('pattern')">
                        {{ 'PASSWORD_MESSAGE' | translate }}
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="conPassword" class="form-label">{{ 'CON_PASSWORD' | translate }}</label>
            <div class="password_field">
                <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter your confirm password" class="form-control" id="conPassword"
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()\-_=+{};:,<.>]).{8,}$"
                    formControlName="conPassword"
                    [ngClass]="{ 'is-invalid' : formGroup.controls.conPassword.errors && formGroup.controls.conPassword.touched }">
                <button type="button" class="show_password" (click)="togglePasswordVisibility()"><i [ngClass]="showPassword ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i></button>
                <span class="input_hint">Both passwords should match</span>
                <!-- NOTE Errors -->
                <div class="invalid-feedback"
                    *ngIf="formGroup.controls.conPassword.invalid && formGroup.controls.conPassword.touched">
                    <ng-container *ngIf="formGroup.controls.conPassword.hasError('required')">
                        {{ 'FIELD_REQUIRED' | translate }}
                    </ng-container>
                    <ng-container *ngIf="formGroup.controls.conPassword.hasError('pattern')">
                        {{ 'PASSWORD_MESSAGE' | translate }}
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-100" [disabled]="!formGroup.valid">Reset Password</button>
        </div>
    </form>
</div>